body{
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
    font-size: 16px;
    line-height: 1.5;
}
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    transition: 0.3s;
}
a:hover{
    opacity: 0.2;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

.page-header,
.page-hero,
.page-content,
.pagefooter{
     /* min-width: 1280px;  */
    width: 100%;
}
.page-header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #fff;
}

.page-header__inner,
.page-conent__inner{
    box-sizing: content-box;
}

.page-header {
border-top: solid 4px #7f9916;
}
.page-header__inner{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}
.page-header .logo,
.page-footer .logo {
    width: 256px;
}
.sns-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sns-list__item{
    width: 24px;
}
.sns-list__item:not(:first-child){
    margin-left: 16px;
}
.page-header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.global-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.global-nav > .sns-list {
    margin-left: 64px;
}
.global-nav > .link-button{
    margin-left: 64px;
}
.link-button{
    display: table;
    width: 140px;
}
.menu-list{
    display: flex;
    flex-wrap: wrap;
}

.page-heading{
    text-align: center;
    border-bottom: 2px solid #7f9916;
    padding-bottom: 4px;
    max-width: 400px;
    margin: 24px auto 32px;
}

.feature-list{
    display: flex;
    max-width: 954px;
    justify-content: space-between;
    margin: 0 auto;
}

.feature-list__item{
   max-width: 286px;
   text-align: center;
   margin: 48px;
}
.feature-list__item h3{
    font-size: 24px;
    margin: 32px 0 12px 0;
}
.work-list{
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.work-list__item{
    max-width: 520px;
    margin-bottom: 24px;
}
.work-list__item img{
    margin-bottom: 16px;
}
.cost-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  max-width: 1080px;
  margin: 0 auto;
}
.cost-list__item{
    max-width: 347px;
    margin: 10px;
    text-align: center;
}
.voice-list__item{
    max-width: 800px;
    margin: 0 auto;
}
.voice-list__item{
    border:2px  solid#7f9916;
    border-radius: 8px;
    padding: 48px 32px;
    margin-bottom: 32px;

    display: flex;
}

.voice-list__item img{
    max-width: 96px;
    margin-right: 40px;
}
.page-block{
    max-width: 1080px;
    margin: 0 auto;
}
.company-column{
    display: flex;
}

.page-footer{
    margin-top: 120px;
}

.page-content__inner {
 max-width: 1080px;
 width: 100%;
 margin: 0 auto;
 /* padding: 0 24px; */
}
@media all and (min-width: 480px) and (max-width: 768px) { }
@media all and (max-width: 480px) { 
    .page-heading { color: #7F9916}
    .page-content { width: 92%;}
    .feature-list, .cost-list__item {
        flex-direction: column;
        height: 100%;
    }
    .feature-list__item {
        margin: 0 auto 48px;
    }
    .feature-list__item h3 {margin-top: 16px;}

    .cost-list__item{max-width: 100%;}

    .company-column {
        flex-direction: column-reverse;
        height: 100%;
    }
    .company-map iframe {width: 100%;}
    .global-nav { display: none;}
} 
